<div class="container-fluid">
	<div class="row">
    <div class="col-lg-10">

	<div class="jumbotron">

		<header>
			<label for=“name">
				<font face="arial" size="8" color="green">
					CouchInn
				</font>
			</label>
		</header>
		
		<header>
			<label for=“name">
				<font face="arial" size="6" color="grey">
					<p>Esta es una página web destinada a todos aquellas personas aventureras que están en busca de conocer nuevos lugares y vivir distintas experiencias, ya sea compartiendo alojamiento con nuevas personas o alojandose individualmente. </p>
					<p>Esta página te permitirá tanto ofrecer un lugar de alojamiento (con o sin tu compañía) como encontrar el lugar perfecto para hospedarte y poder disfrutar de su estadia.</p>
				</font>
			</label>
		</header>
		 
		<p>
			<a class="btn btn-primary btn-lg" href="/welcome/index" role=“button"> Volver </a>
		</p> 
	</div>	
</div>