<div class="col-md-2 col-xs-4 list-group">


	<% if user_signed_in? %>
	 
		<p> <%= link_to "Ver listado de los tipos de Couches", tipocouches_path %> </p>
		<p> <%= link_to "Dar de alta un tipo de Couch", new_tipocouch_path %> </p>
		<p> <%= link_to "Ver lista de Couches",reserves_index_path %> </p>
		<p> <%= link_to "Reservas",couches_index_path %> </p>
	 
	<% end %>
	
</div>
